/* BASE STYLES */
body{
    font-family: 'Roboto Slab', serif; /* Boldest */ 
    font-family: 'Roboto', sans-serif; /* Regular 400; Bold 700 */
}

/* GRID */
.full-width{
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

.half-width{
    width: 600px;
    float: left;
}

.third-width{
    width: 400px;
    float: left;
}

/* HEADER */
header .full-width{
    height: 800px;
    width: 1400px;
    background: url('../img/hero-image.png');
    background-size: cover;
    background-position: center;
}

header .full-width h1{
    font-family: 'Roboto Slab', serif;
    font-size: 60px;
    text-align: center;
    color: #bdbf09;
    padding-top: 300px;
}

header .full-width h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    color: #095256;
    width: 950px;
    padding-left: 230px;
}

/* NAV BAR */


/* ABOUT ME */
#about-me #contact .full-width{
    padding: 80px 0;
}

#about-me .full-width h2{
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    text-align: center;
}

#about-me .half-width h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
    margin-top: 0px;
}

#about-me .half-width p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* WORK */
#work .full-width{
    background-color: #ffffff;
}

#work .project-1, .project-2, .project-3, .project-4, .project-5{
    overflow: auto;
}

#work .half-width img{
    margin-top: auto;
    margin-bottom: 30px;
    width: 552px;
    height: 296px;
    border: 1px solid #b7b7b7;
}

#work .full-width h2{
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    color: #095156;
    text-align: center;
    padding-bottom: 60px;
}

#work .half-width h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #095156;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

#work .half-width p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #095156;
    text-align: left;
    margin-top: 0px;
}

/* ABOUT ME */
#about-me{
    height: 650px;
    background-color: #087e8b;
}
#about-me .full-width{
    padding-top: 80px 0;
}

#about-me .full-width h2{
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    color: #ffffff;
    padding-bottom: 60px;
    text-align: center;
}

#about-me .half-width img{
    width: 350px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#about-me .half-width p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
    margin-top: 0px;
}

/* FOOTER */
#contact{
    background-color: #095156;
}
#contact .full-width{
    height: 400px;
}

#contact .full-width h2{
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
}

#contact .third-width h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
}

#contact .third-width p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
}

#contact .third-width ul{
    list-style-type: none;
    padding-left: 145px;
}

#contact .third-width li{
    display: inline-block;
}