/* BASE STYLES */
body{
    font-family: 'Roboto Slab', serif; /* Boldest */ 
    font-family: 'Roboto', sans-serif; /* Regular 400; Bold 700 */
}

/* GRID */
.full-width{
    margin: 0 auto;
    overflow: auto;
    width: 1200px;
}

.half-width{
    float: left;
    width: 600px;
}

.third-width{
    float: left;
    width: 400px;
}

/* HEADER */
header{
    background: url('../img/hero-image.png');
    background-position: center;
    background-size: cover;
    height: 800px;
    width: 1400px;
}

header .full-width h1{
    color: #bdbf09;
    font-family: 'Roboto Slab', serif;
    font-size: 60px;
    padding-top: 300px;
    text-align: center;
}

header .full-width h2{
    color: #095256;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 400;
    padding-left: 150px;
    text-align: center;
    width: 900px;
}

/* NAV BAR */

/* WORK */
#work .full-width{
    background-color: #ffffff;
    height: auto;
}

#work .project-1, .project-2, .project-3, .project-4{
    overflow: auto;
}

#work .half-width img{
    border: 1px solid #b7b7b7;
    margin-bottom: 50px;
}

#work .full-width h2{
    color: #095156;
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    padding-bottom: 60px;
    text-align: center;
}

#work .half-width h3{
    color: #095156;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    text-align: left;
}

#work .half-width p{
    color: #095156;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-top: 12px;
    text-align: left;
}

/* ABOUT ME */
#about-me{
    background-color: #087e8b;
    height: 650px;
    padding: 80px 0;
    width: 1400px;
}

#about-me .full-width h2{
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    margin-top: 0px;
    padding-bottom: 60px;
    text-align: center;
}

#about-me .half-width img{
    display: block;
    height: 350px;
    padding-left: 180px;
    width: 350px;
}

#about-me .half-width h3{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 0px;
    text-align: left;
}

#about-me .half-width p{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
}

/* FOOTER */
#contact{
    height: 400px;
    width: 1400px;
    background-color: #095156;
}

#contact .full-width h2{
    margin: 36px 0px 36px 0px;
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
}

#contact .third-width h3{
    padding-top: 56px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
}

#contact .third-width p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
}

#contact .third-width ul{
    list-style-type: none;
    padding-left: 65px;
}

#contact .third-width li{
    display: inline-block;
    margin-right: 50px;
}

#contact .copyright p{
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
}