/* BASE STYLES */
body{
    font-family: 'Roboto Slab', serif;
}

/* GRID */
.full-width{
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

.half-width{
    width: 600px;
    float: left;
}

.third-width{
    width: 400px;
    float: left;
}

/* HEADER */
header{
    height: 800px;
    background: url('../img/hero-image.png');
    background-size: cover;
    background-position: center;
}
header .full-width{
    margin-left: auto;
    margin-right: auto;
    width: 788px;
    padding-top: 80px;
}
header .full-width h1 span{
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    color: #bdbf09;
    padding-top: 81px;
    padding-bottom: 51px;
}
header .full-width h1{
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    color: #095256;
}

/* NAV BAR */
header .full-width nav{
    padding: 75px 25px;
}
header .full-width nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #087e8b;
    position: fixed;
    top: 0;
    width: 1200px;
}

/* NAV LINKS */
header .full-width nav ul li{
    display: inline;
}
li{
    float: left;
}
li a{
    display: block;
    padding: 14px 80px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
}
li a:hover:not(.active){
    background-color: #095156;
}
.active{
    background-color: #087e8b;
}


#about-me #blog #contact .full-width{
    padding: 80px 0;
}

/* PORTFLIO */
#portfolio .full-width{
    height: 1450px;
}
#portfolio .full-width h2{
    width: 228px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 111px;
    font-size: 36px;
    font-weight: 700;
    color: #095156;
}
#portfolio .half-width img{
    width: 552px;
    height: 296px;
    border: 1px solid #b7b7b7;
}
#portfolio .half-width p span{
    font-size: 24px;
    font-weight: 700;
}
#portfolio .half-width p{
    font-size: 24px;
    font-weight: 400;
    color: #095156;
    text-align: left;
    padding: 94px;
}

/* ABOUT ME */
#about-me{
    height: 650px;
}
#about-me .full-width{
    padding: 80px 0;
}
#about-me h2{
    font-size: 36px;
    color: ;
}
#about-me p span{
    font-size: 24px;
    font-weight: 700;
}
#about-me p{
    font-size: 24px;
    font-weight: 400;
}

/* BLOG */
#blog{
    height: 650px;
}

/* FOOTER */
#contact{
    height: 400px;
    background-color: #095156;
}
#contact .full-width{
    padding: 110px 0;
}
#contact a{
    color: #ffffff;
    text-decoration: none;
}
#social-media ul{
    list-style: none;
}
#social-media ul li{
    display: inline-block;
    padding-right: 48px;
}
